In [1]:
#Import libraries
# Standard Packages
import pandas as pd
import numpy as np

# Viz Packages
import seaborn as sns
import matplotlib.pyplot as plt

# Scipy Stats
import scipy.stats as stats 

# Statsmodel Api
import statsmodels.api as sm
from statsmodels.formula.api import ols

# SKLearn Modules
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
import sklearn.metrics as metrics

# Suppress future and deprecation warnings
import warnings
warnings.filterwarnings("ignore", category= FutureWarning)
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [2]:
#Import housing data
kc_house_df = pd.read_csv('/Users/Aidan/Documents/Flatiron/Phase_2/King-County-House-Sales-/data/kc_house_data.csv')

kc_house_df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sewer_system,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long
0,7399300360,5/24/2022,675000.0,4,1.0,1180,7140,1.0,NO,NO,...,PUBLIC,1180,0,0,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",47.461975,-122.19052
1,8910500230,12/13/2021,920000.0,5,2.5,2770,6703,1.0,NO,NO,...,PUBLIC,1570,1570,0,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",47.711525,-122.35591
2,1180000275,9/29/2021,311000.0,6,2.0,2880,6156,1.0,NO,NO,...,PUBLIC,1580,1580,0,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",47.502045,-122.22520
3,1604601802,12/14/2021,775000.0,3,3.0,2160,1400,2.0,NO,NO,...,PUBLIC,1090,1070,200,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",47.566110,-122.29020
4,8562780790,8/24/2021,592500.0,2,2.0,1120,758,2.0,NO,NO,...,PUBLIC,1120,550,550,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",47.532470,-122.07188

In [3]:
#Look at columns
kc_house_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30155 entries, 0 to 30154
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             30155 non-null  int64
 1   date           30155 non-null  object
 2   price          30155 non-null  float64
 3   bedrooms       30155 non-null  int64
 4   bathrooms      30155 non-null  float64
 5   sqft_living    30155 non-null  int64
 6   sqft_lot       30155 non-null  int64
 7   floors         30155 non-null  float64
 8   waterfront     30155 non-null  object
 9   greenbelt      30155 non-null  object
 10  nuisance       30155 non-null  object
 11  view           30155 non-null  object
 12  condition      30155 non-null  object
 13  grade          30155 non-null  object
 14  heat_source    30123 non-null  object
 15  sewer_system   30141 non-null  object
 16  sqft_above     30155 non-null  int64
 17  sqft_basement  30155 non-null  int64
 18  sqft_garage    30155 non-null  int64
 19  sqft_patio     30155 non-null  int64
 20  yr_built       30155 non-null  int64
 21  yr_renovated   30155 non-null  int64
 22  address        30155 non-null  object
 23  lat            30155 non-null  float64
 24  long           30155 non-null  float64
dtypes: float64(5), int64(10), object(10)
memory usage: 5.8+ MB

In [4]:
#Looking at bedrooms
kc_house_df.bedrooms.value_counts()

3     12754
4      9597
2      3936
5      2798
6       498
1       391
7        80
0        44
8        38
9        14
10        3
13        1
11        1
Name: bedrooms, dtype: int64

In [5]:
#Looking at rows where bedroom is zero. Looks like 0 is a placeholder for missing values.
kc_house_df[kc_house_df.bedrooms == 0].head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sewer_system,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long
573,3920030050,5/19/2022,930000.0,0,0.0,1617,2156,3.0,NO,NO,...,PUBLIC,2156,0,0,0,2009,0,"6019 Roosevelt Way Northeast, Seattle, Washing...",47.672700,-122.31781
1289,2768301406,3/2/2022,1090000.0,0,0.0,1500,1262,3.0,NO,NO,...,PUBLIC,1500,0,0,0,2021,0,"A, Leadwood, Missouri 63653, United States",37.859790,-90.58113
1310,3462800015,11/10/2021,360000.0,0,0.0,910,19000,1.0,NO,NO,...,PRIVATE,910,0,0,250,1946,0,"26125 79th Avenue South, Kent, Washington 9803...",47.366765,-122.23543
1952,2020069042,9/27/2021,399990.0,0,0.0,1677,43264,1.0,NO,NO,...,PUBLIC,1677,0,0,0,1969,0,"43407 212th Avenue Southeast, Enumclaw, Washin...",47.211660,-122.05920
2044,6896300047,9/17/2021,509000.0,0,1.0,400,2385,1.0,NO,NO,...,PUBLIC,400,0,0,0,1946,0,"8416 B Island Dr S, Seattle, Washington 98118,...",47.528030,-122.26129

Overview
A one-paragraph overview of the project, including the business problem, data, methods, results and recommendations.


Business Problem
Summary of the business problem you are trying to solve, and the data questions that you plan to answer to solve them.

Questions to consider:

Who are your stakeholders?
What are your stakeholders' pain points related to this project?
Why are your predictions important from a business perspective?

Data Understanding
Describe the data being used for this project.

- King County, WA housing data
    - min 4+ bedrooms (2 single parents and their kids)
    - near green space (greenbelt feature only has 773 yes)
    - nuisance =  No has ~ 25,000
    - 
- School district data?
- Crime statistics by zip code?

Questions to consider:

Where did the data come from, and how do they relate to the data analysis questions?
What do the data represent? Who is in the sample and what variables are included?
What is the target variable?
What are the properties of the variables you intend to use?

In [6]:
#Import data
schools_df = pd.read_csv('/Users/Aidan/Documents/Flatiron/Phase_2/King-County-House-Sales-/data/Report_Card_Assessment_Data_2021-22_School_Year.csv')

/Users/Aidan/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
fife_king_school_df = schools_df
fife_king_school_df[fife_king_school_df.DistrictName.str.contains("Fife")]

,SchoolYear,OrganizationLevel,County,ESDName,ESDOrganizationId,DistrictCode,DistrictName,DistrictOrganizationId,SchoolCode,SchoolName,...,Count of students expected to test including previously passed,CountMetStandard,PercentMetStandard,PercentLevel1,PercentLevel2,PercentLevel3,PercentLevel4,PercentMetTestedOnly,PercentNoScore,DataAsOf
2109,2021-22,District,Pierce,Puget Sound Educational Service District 121,100006.0,27417.0,Fife School District,100088.0,NaN,District Total,...,NaN,NaN,Suppressed: N<10,NaN,NaN,NaN,NaN,NaN,NaN,9/7/2022
2110,2021-22,District,Pierce,Puget Sound Educational Service District 121,100006.0,27417.0,Fife School District,100088.0,NaN,District Total,...,228.0,20.0,8.8%,0.692982,0.206140,0.065789,0.021930,0.088889,0.013158,9/7/2022
2111,2021-22,District,Pierce,Puget Sound Educational Service District 121,100006.0,27417.0,Fife School District,100088.0,NaN,District Total,...,1779.0,907.0,51.0%,0.245644,0.230467,0.310849,0.198988,0.517104,0.014053,9/7/2022
2112,2021-22,District,Pierce,Puget Sound Educational Service District 121,100006.0,27417.0,Fife School District,100088.0,NaN,District Total,...,NaN,NaN,Suppressed: N<10,NaN,NaN,NaN,NaN,NaN,NaN,9/7/2022
2113,2021-22,District,Pierce,Puget Sound Educational Service District 121,100006.0,27417.0,Fife School District,100088.0,NaN,District Total,...,1042.0,612.0,58.7%,0.187140,0.212092,0.333013,0.254319,0.595331,0.013436,9/7/2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
758274,2021-22,School,Pierce,Puget Sound Educational Service District 121,100006.0,27417.0,Fife School District,100088.0,5582.0,Fife Open Doors,...,NaN,NaN,Suppressed: N<10,NaN,NaN,NaN,NaN,NaN,NaN,9/7/2022
758275,2021-22,School,Pierce,Puget Sound Educational Service District 121,100006.0,27417.0,Fife School District,100088.0,5582.0,Fife Open Doors,...,15.0,3.0,20.0%,0.066667,0.200000,0.200000,0.000000,0.428571,0.533333,9/7/2022
758276,2021-22,School,Pierce,Puget Sound Educational Service District 121,100006.0,27417.0,Fife School District,100088.0,5582.0,Fife Open Doors,...,NaN,NaN,Suppressed: N<10,NaN,NaN,NaN,NaN,NaN,NaN,9/7/2022
758277,2021-22,School,Pierce,Puget Sound Educational Service District 121,100006.0,27417.0,Fife School District,100088.0,5582.0,Fife Open Doors,...,NaN,NaN,Suppressed: N<10,NaN,NaN,NaN,NaN,NaN,NaN,9/7/2022
758278,2021-22,School,Pierce,Puget Sound Educational Service District 121,100006.0,27417.0,Fife School District,100088.0,5582.0,Fife Open Doors,...,15.0,3.0,20.0%,0.066667,0.200000,0.200000,0.000000,0.428571,0.533333,9/7/2022

Technically Fife School District is in both Pierce and King counties. We are including it so that the King County houses with Zip Codes corresponding to the Fife School District can be included in our overall dataset.

In [8]:
king_school_df = schools_df[(schools_df.County == "King") | (schools_df.DistrictName == "Fife School District")]

In [9]:
pd.options.display.max_columns = None
pd.options.display.width = None


# king_school_df[(king_school_df['DistrictName'] == 'Auburn School District')& \
#                (king_school_df.StudentGroup == "All Students") \
#                & (king_school_df.GradeLevel == "All Grades") &\
#               (king_school_df.SchoolName == "District Total")]

In [10]:
king_school_df = king_school_df[(king_school_df.StudentGroup == "All Students") & \
                                (king_school_df.GradeLevel == "All Grades") & \
                                (king_school_df.SchoolName == 'District Total') &\
                               (king_school_df.DistrictName.str.contains("District"))]

In [11]:
king_school_df = king_school_df[['DistrictName','TestAdministration','TestSubject','PercentMetStandard']]

In [12]:
#SUBSET OF KING COUNTY SCHOOL DISTRICT SCORES FOR KIDS WITH COGNITIVE DISABILITIES (AIM TEST)
cog_dis_king_school_df = king_school_df[king_school_df['TestAdministration'] == 'AIM']

In [13]:
cog_dis_king_school_df.drop(labels='TestAdministration', axis = 1, inplace=True)

/Users/Aidan/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [14]:
cog_dis_king_school_df.head()

                       DistrictName TestSubject PercentMetStandard
2050    Federal Way School District     Science              14.3%
3521  Mercer Island School District        Math   Suppressed: N<10
5926      Shoreline School District         ELA              44.2%
5942      Shoreline School District        Math              44.2%
7171  Vashon Island School District         ELA   Suppressed: N<10

In [15]:
#LARGER SUBSET OF KING COUNTY SCHOOL DISTRICT SCORES FOR KIDS WITHOUT COGNITIVE DISABILITIES 
main_king_school_df = king_school_df[king_school_df['TestAdministration'] != 'AIM']

In [16]:
main_king_school_df.drop(labels='TestAdministration', axis = 1, inplace=True)

/Users/Aidan/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [17]:
main_king_school_df

                         DistrictName TestSubject PercentMetStandard
2062      Federal Way School District         ELA              35.6%
2130             Fife School District        Math              30.8%
5384           Renton School District        Math              32.5%
69539   Vashon Island School District         ELA              62.3%
69562   Vashon Island School District        Math              51.3%
...                               ...         ...                ...
730736       Enumclaw School District     Science              49.8%
735027       Bellevue School District        Math              65.6%
735906         Auburn School District         ELA              43.6%
735909         Auburn School District        Math              30.2%
735911         Auburn School District     Science              35.1%

[63 rows x 3 columns]

#### Pivot Dataset

We want to turn our dataset into a dataframe with `DistrictName` as rows and `TestSubject` as Columns with the corresponding `PercentMetStandard` at their intersection.

In [18]:
#Create a pivot table
main_king_school_df = main_king_school_df.pivot(index = "DistrictName", columns = "TestSubject",\
                                                values = "PercentMetStandard")

In [19]:
# #Reset the index
main_king_school_df= main_king_school_df.reset_index()

In [20]:
#View the columns
main_king_school_df.columns

Index(['DistrictName', 'ELA', 'Math', 'Science'], dtype='object', name='TestSubject')

In [21]:
#View our updated pivot table
main_king_school_df

TestSubject,DistrictName,ELA,Math,Science
0,Auburn School District,43.6%,30.2%,35.1%
1,Bellevue School District,72.3%,65.6%,63.7%
2,Enumclaw School District,56.7%,40.1%,49.8%
3,Federal Way School District,35.6%,21.7%,27.1%
4,Fife School District,46.2%,30.8%,39.0%
5,Highline School District,33.4%,21.5%,26.8%
6,Issaquah School District,76.0%,69.6%,63.2%
7,Kent School District,47.9%,33.7%,39.7%
8,Lake Washington School District,78.5%,70.2%,61.6%
9,Mercer Island School District,82.0%,76.9%,75.9%
10,Northshore School District,72.0%,59.6%,55.8%
11,Rainier Prep Charter School District,50.6%,37.7%,34.4%
12,Renton School District,42.9%,32.5%,33.3%
13,Riverview School District,69.0%,54.7%,54.5%
14,Seattle School District No. 1,62.7%,51.6%,48.5%
15,Shoreline School District,66.6%,55.2%,59.8%
16,Skykomish School District,71.4%,23.8%,Suppressed: N<10
17,Snoqualmie Valley School District,75.3%,64.6%,65.1%
18,Tahoma School District,69.2%,59.0%,60.1%
19,Tukwila School District,29.6%,16.7%,26.1%
20,Vashon Island School District,62.3%,51.3%,67.0%

It looks like one of the districts is `Rainier Prep Charter School District` which is a charter school and so does not reflect the school districts available based on house location. We will drop this row.

In [22]:
main_king_school_df = main_king_school_df[main_king_school_df['DistrictName']\
                                          != "Rainier Prep Charter School District"]

In [23]:
# Confirming Rainier Prep Charter School District is no longer in our dataframe.
main_king_school_df.index.name = 'index'

In [24]:
main_king_school_df.rename_axis(None, axis =1)

                            DistrictName    ELA   Math           Science
index
0                 Auburn School District  43.6%  30.2%             35.1%
1               Bellevue School District  72.3%  65.6%             63.7%
2               Enumclaw School District  56.7%  40.1%             49.8%
3            Federal Way School District  35.6%  21.7%             27.1%
4                   Fife School District  46.2%  30.8%             39.0%
5               Highline School District  33.4%  21.5%             26.8%
6               Issaquah School District  76.0%  69.6%             63.2%
7                   Kent School District  47.9%  33.7%             39.7%
8        Lake Washington School District  78.5%  70.2%             61.6%
9          Mercer Island School District  82.0%  76.9%             75.9%
10            Northshore School District  72.0%  59.6%             55.8%
12                Renton School District  42.9%  32.5%             33.3%
13             Riverview School District  69.0%  54.7%             54.5%
14         Seattle School District No. 1  62.7%  51.6%             48.5%
15             Shoreline School District  66.6%  55.2%             59.8%
16             Skykomish School District  71.4%  23.8%  Suppressed: N<10
17     Snoqualmie Valley School District  75.3%  64.6%             65.1%
18                Tahoma School District  69.2%  59.0%             60.1%
19               Tukwila School District  29.6%  16.7%             26.1%
20         Vashon Island School District  62.3%  51.3%             67.0%

Create dictionary `King_County_School_District_Zipcodes` with zipcodes for each school district in King County, WA.

In [25]:
#STRING FORMAT
King_County_School_District_Zipcodes = {

'Seattle School District No. 1' : ['98101', '98102', '98103', '98104', '98105', '98106', '98107', '98108',\
                                    '98109', '98112', '98115', '98116', '98117', '98118', '98119', '98121',\
                                    '98122', '98125', '98126', '98133', '98134', '98136', '98144', '98146',\
                                    '98154', '98164', '98168', '98174', '98177', '98178', '98195', '98199'],

'Lake Washington School District' : ['98004', '98005', '98007', '98008', '98011', '98033', '98034',\
                                            '98039', '98052', '98053', '98072', '98074', '98075', '98077'],

'Kent School District' : ['98001', '98002', '98010', '98030', '98031', '98032', '98038', '98042', '98055',\
                                 '98058', '98092', '98188', '98198'],

'Federal Way School District' : ['98001', '98003', '98023', '98032', '98198', '98354'],

'Highline School District': ['98032', '98106', '98108', '98126', '98146', '98148', '98158', '98166',\
                                     '98168', '98188', '98198'],

'Northshore School District' : ['98011', '98012', '98021', '98028', '98034', '98036', '98052', '98072',\
                                       '98077', '98155', '98296'],

'Renton School District' : ['98006', '98031', '98032', '98055', '98056', '98057', '98058', '98059',\
                                   '98168', '98178', '98188'],

'Bellevue School District' : ['98004', '98005', '98006', '98007', '98008', '98027', '98033', '98039',\
                                     '98052', '98056', '98059'],

'Auburn School District' : ['98001', '98002', '98010', '98022', '98030', '98032', '98042', '98047',\
                                   '98092', '98391'],

'Issaquah School District': ['98006', '98008', '98024', '98027', '98029', '98038', '98050', '98056',\
                                     '98058', '98059', '98065', '98074', '98075'],

'Shoreline School District' : ['98043', '98133', '98155', '98177'],

'Snoqualmie Valley School District' : ['98014', '98024', '98027', '98038', '98045', '98053', '98065',\
                                              '98068', '98074', '98075', '98224'],

'Tahoma School District' : ['98010', '98027', '98038', '98042', '98045', '98051', '98058',\
                                   '98059', '98065'],

'Enumclaw School District': ['98010', '98022', '98038', '98045', '98051', '98092', '98323', '98391'],

'Tukwila School District' : ['98168', '98178', '98188'],

'Riverview School District' : ['98014', '98019', '98024', '98053', '98065', '98077', '98224'],

'Mercer Island School District' : ['98004', '98006', '98040'],

'Vashon Island School District' : ['98070'],

'Skykomish School District' : ['98045', '98068', '98224', '98288'],

'Fife School District' : ['98001', '98003', '98354', '98371', '98372', '98421', '98422', '98424']
    
}

In [26]:
main_king_school_df.DistrictName

index
0                Auburn School District
1              Bellevue School District
2              Enumclaw School District
3           Federal Way School District
4                  Fife School District
5              Highline School District
6              Issaquah School District
7                  Kent School District
8       Lake Washington School District
9         Mercer Island School District
10           Northshore School District
12               Renton School District
13            Riverview School District
14        Seattle School District No. 1
15            Shoreline School District
16            Skykomish School District
17    Snoqualmie Valley School District
18               Tahoma School District
19              Tukwila School District
20        Vashon Island School District
Name: DistrictName, dtype: object

In [27]:
# for key in King_County_School_District_Zipcodes.keys():
#     print(key)
#     if key in main_king_school_df.DistrictName: 
#         print(key
#         print(key)
#         print(King_County_School_District_Zipcodes[key])
#         main_king_school_df.loc[main_king_school_df['DistrictName'] == key, 'zipcode'] = King_County_School_District_Zipcodes[key]

In [28]:
main_king_school_df

TestSubject                       DistrictName    ELA   Math           Science
index
0                       Auburn School District  43.6%  30.2%             35.1%
1                     Bellevue School District  72.3%  65.6%             63.7%
2                     Enumclaw School District  56.7%  40.1%             49.8%
3                  Federal Way School District  35.6%  21.7%             27.1%
4                         Fife School District  46.2%  30.8%             39.0%
5                     Highline School District  33.4%  21.5%             26.8%
6                     Issaquah School District  76.0%  69.6%             63.2%
7                         Kent School District  47.9%  33.7%             39.7%
8              Lake Washington School District  78.5%  70.2%             61.6%
9                Mercer Island School District  82.0%  76.9%             75.9%
10                  Northshore School District  72.0%  59.6%             55.8%
12                      Renton School District  42.9%  32.5%             33.3%
13                   Riverview School District  69.0%  54.7%             54.5%
14               Seattle School District No. 1  62.7%  51.6%             48.5%
15                   Shoreline School District  66.6%  55.2%             59.8%
16                   Skykomish School District  71.4%  23.8%  Suppressed: N<10
17           Snoqualmie Valley School District  75.3%  64.6%             65.1%
18                      Tahoma School District  69.2%  59.0%             60.1%
19                     Tukwila School District  29.6%  16.7%             26.1%
20               Vashon Island School District  62.3%  51.3%             67.0%

In [29]:
# ['98001', '98002', '98010', '98022', '98030', '98032', '98042', '98047', '98092', '98391']

In [30]:
#Create For Loop for adding Zip Code column to corresponding School District
for index,district in enumerate(main_king_school_df.DistrictName):
    if district in King_County_School_District_Zipcodes.keys():
        main_king_school_df.loc[index,'zipcodes'] = (",".join(King_County_School_District_Zipcodes[district]))
        
        #main_king_school_df.loc[main_king_school_df['DistrictName'] == district, 'Zipcodes'] = King_County_School_District_Zipcodes[district]

/Users/Aidan/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/Users/Aidan/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/Aidan/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-30-adf84e2e5120>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  main_king_school_df.loc[index,'zipcodes'] = (",".join(King_County_School_District_Zipcodes[district]))

In [31]:
main_king_school_df['zipcodes'] =main_king_school_df['zipcodes'].apply(lambda x: str(x).split(','))

In [32]:
main_king_school_df

TestSubject,DistrictName,ELA,Math,Science,zipcodes
index,,,,,
0,Auburn School District,43.6%,30.2%,35.1%,"[98001, 98002, 98010, 98022, 98030, 98032, 980..."
1,Bellevue School District,72.3%,65.6%,63.7%,"[98004, 98005, 98006, 98007, 98008, 98027, 980..."
2,Enumclaw School District,56.7%,40.1%,49.8%,"[98010, 98022, 98038, 98045, 98051, 98092, 983..."
3,Federal Way School District,35.6%,21.7%,27.1%,"[98001, 98003, 98023, 98032, 98198, 98354]"
4,Fife School District,46.2%,30.8%,39.0%,"[98001, 98003, 98354, 98371, 98372, 98421, 984..."
5,Highline School District,33.4%,21.5%,26.8%,"[98032, 98106, 98108, 98126, 98146, 98148, 981..."
6,Issaquah School District,76.0%,69.6%,63.2%,"[98006, 98008, 98024, 98027, 98029, 98038, 980..."
7,Kent School District,47.9%,33.7%,39.7%,"[98001, 98002, 98010, 98030, 98031, 98032, 980..."
8,Lake Washington School District,78.5%,70.2%,61.6%,"[98004, 98005, 98007, 98008, 98011, 98033, 980..."
9,Mercer Island School District,82.0%,76.9%,75.9%,"[98004, 98006, 98040]"
10,Northshore School District,72.0%,59.6%,55.8%,"[98011, 98012, 98021, 98028, 98034, 98036, 980..."
12,Renton School District,42.9%,32.5%,33.3%,"[98014, 98019, 98024, 98053, 98065, 98077, 98224]"
13,Riverview School District,69.0%,54.7%,54.5%,"[98101, 98102, 98103, 98104, 98105, 98106, 981..."
14,Seattle School District No. 1,62.7%,51.6%,48.5%,"[98043, 98133, 98155, 98177]"
15,Shoreline School District,66.6%,55.2%,59.8%,"[98045, 98068, 98224, 98288]"
16,Skykomish School District,71.4%,23.8%,Suppressed: N<10,"[98014, 98024, 98027, 98038, 98045, 98053, 980..."
17,Snoqualmie Valley School District,75.3%,64.6%,65.1%,"[98010, 98027, 98038, 98042, 98045, 98051, 980..."
18,Tahoma School District,69.2%,59.0%,60.1%,"[98168, 98178, 98188]"
19,Tukwila School District,29.6%,16.7%,26.1%,[98070]
20,Vashon Island School District,62.3%,51.3%,67.0%,[nan]
11,NaN,NaN,NaN,NaN,"[98006, 98031, 98032, 98055, 98056, 98057, 980..."

In [33]:
# King_County_School_District_Zipcodes.values()

## Data Preparation and Cleaning

### Housing Data Set

In [34]:
#A reminder of what our data looks like
kc_house_df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,nuisance,view,condition,grade,heat_source,sewer_system,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long
0,7399300360,5/24/2022,675000.0,4,1.0,1180,7140,1.0,NO,NO,NO,NONE,Good,7 Average,Gas,PUBLIC,1180,0,0,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",47.461975,-122.19052
1,8910500230,12/13/2021,920000.0,5,2.5,2770,6703,1.0,NO,NO,YES,AVERAGE,Average,7 Average,Oil,PUBLIC,1570,1570,0,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",47.711525,-122.35591
2,1180000275,9/29/2021,311000.0,6,2.0,2880,6156,1.0,NO,NO,NO,AVERAGE,Average,7 Average,Gas,PUBLIC,1580,1580,0,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",47.502045,-122.22520
3,1604601802,12/14/2021,775000.0,3,3.0,2160,1400,2.0,NO,NO,NO,AVERAGE,Average,9 Better,Gas,PUBLIC,1090,1070,200,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",47.566110,-122.29020
4,8562780790,8/24/2021,592500.0,2,2.0,1120,758,2.0,NO,NO,YES,NONE,Average,7 Average,Electricity,PUBLIC,1120,550,550,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",47.532470,-122.07188

Let's create the subset of interest to our stakeholders:
- min 4+ bedrooms (2 single mothers and their kids)
- nuisance == No

In [35]:
#Let's create a subset that fit the above criteria
kc_family_house_df = kc_house_df[(kc_house_df['bedrooms'] >= 4) & (kc_house_df['nuisance'] == "NO")]

#Reset the index
kc_family_house_df.reset_index(drop=True,inplace= True)

#Preview first 5 rows of subset
kc_family_house_df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,nuisance,view,condition,grade,heat_source,sewer_system,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long
0,7399300360,5/24/2022,675000.0,4,1.0,1180,7140,1.0,NO,NO,NO,NONE,Good,7 Average,Gas,PUBLIC,1180,0,0,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",47.461975,-122.190520
1,1180000275,9/29/2021,311000.0,6,2.0,2880,6156,1.0,NO,NO,NO,AVERAGE,Average,7 Average,Gas,PUBLIC,1580,1580,0,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",47.502045,-122.225200
2,2944500680,3/17/2022,780000.0,4,2.5,2340,8125,2.0,NO,NO,NO,NONE,Average,8 Good,Gas,PUBLIC,2340,0,440,70,1989,0,"2721 Southwest 343rd Place, Federal Way, Washi...",47.293770,-122.369320
3,2619950340,6/21/2021,975000.0,4,2.5,2980,5859,2.0,NO,NO,NO,AVERAGE,Average,8 Good,Gas,PUBLIC,2980,0,540,170,2011,0,"27950 Northeast 147th Circle, Duvall, Washingt...",47.733170,-121.965305
4,2873000690,6/11/2021,680000.0,4,3.0,2130,7649,1.0,NO,NO,NO,NONE,Very Good,7 Average,Electricity,PUBLIC,1130,1100,440,280,1975,0,"20432 130th Place Southeast, Kent, Washington ...",47.418155,-122.166960

Let's split the address into a new column, zip code.

In [36]:
# Example of an address
kc_family_house_df['address'][0]

'2102 Southeast 21st Court, Renton, Washington 98055, United States'

In [37]:
#Separate the Zip Code from the address
kc_family_house_df["Zip Code"] = kc_family_house_df['address'].apply(lambda x: x.split()[-3][:-1])

<ipython-input-37-aab20c90a77a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kc_family_house_df["Zip Code"] = kc_family_house_df['address'].apply(lambda x: x.split()[-3][:-1])

In [38]:
#Preview our new column
kc_family_house_df["Zip Code"].head()

0    98055
1    98178
2    98023
3    98019
4    98031
Name: Zip Code, dtype: object

In [39]:
kc_family_house_df['address'][2]

'2721 Southwest 343rd Place, Federal Way, Washington 98023, United States'

In [40]:
kc_family_house_df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,nuisance,view,condition,grade,heat_source,sewer_system,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long,Zip Code
0,7399300360,5/24/2022,675000.0,4,1.0,1180,7140,1.0,NO,NO,NO,NONE,Good,7 Average,Gas,PUBLIC,1180,0,0,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",47.461975,-122.190520,98055
1,1180000275,9/29/2021,311000.0,6,2.0,2880,6156,1.0,NO,NO,NO,AVERAGE,Average,7 Average,Gas,PUBLIC,1580,1580,0,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",47.502045,-122.225200,98178
2,2944500680,3/17/2022,780000.0,4,2.5,2340,8125,2.0,NO,NO,NO,NONE,Average,8 Good,Gas,PUBLIC,2340,0,440,70,1989,0,"2721 Southwest 343rd Place, Federal Way, Washi...",47.293770,-122.369320,98023
3,2619950340,6/21/2021,975000.0,4,2.5,2980,5859,2.0,NO,NO,NO,AVERAGE,Average,8 Good,Gas,PUBLIC,2980,0,540,170,2011,0,"27950 Northeast 147th Circle, Duvall, Washingt...",47.733170,-121.965305,98019
4,2873000690,6/11/2021,680000.0,4,3.0,2130,7649,1.0,NO,NO,NO,NONE,Very Good,7 Average,Electricity,PUBLIC,1130,1100,440,280,1975,0,"20432 130th Place Southeast, Kent, Washington ...",47.418155,-122.166960,98031

## SCHOOL DISTRICT ZIP CODES

Information taken from https://statisticalatlas.com/county/Washington/King-County/Overview

In [41]:
King_County_WA_zipcodes = [98001, 98002, 98003, 98004, 98005, 98006, 98007, 98008, 98010, \
    98011, 98014, 98019, 98021, 98022, 98023, 98024, 98027, 98028, \
    98029, 98030, 98031, 98032, 98033, 98034, 98038, 98039, 98040, \
    98042, 98043, 98045, 98047, 98050, 98051, 98052, 98053, 98055, \
    98056, 98057, 98058, 98059, 98065, 98068, 98070, 98072, 98074, \
    98075, 98077, 98092, 98101, 98102, 98103, 98104, 98105, 98106, \
    98107, 98108, 98109, 98112, 98115, 98116, 98117, 98118, 98119, \
    98121, 98122, 98125, 98126, 98133, 98134, 98136, 98144, 98146, \
    98148, 98154, 98155, 98158, 98164, 98166, 98168, 98174, 98177, \
    98178, 98188, 98195, 98198, 98199, 98224, 98288, 98323, 98354, 98391]

In [42]:
#STRING FORMAT
King_County_WA_zipcodes = ['98001', '98002', '98003', '98004', '98005', '98006', '98007', '98008', '98010', \
    '98011', '98014', '98019', '98021', '98022', '98023', '98024', '98027', '98028', \
    '98029', '98030', '98031', '98032', '98033', '98034', '98038', '98039', '98040', \
    '98042', '98043', '98045', '98047', '98050', '98051', '98052', '98053', '98055', \
    '98056', '98057', '98058', '98059', '98065', '98068', '98070', '98072', '98074', \
    '98075', '98077', '98092', '98101', '98102', '98103', '98104', '98105', '98106', \
    '98107', '98108', '98109', '98112', '98115', '98116', '98117', '98118', '98119', \
    '98121', '98122', '98125', '98126', '98133', '98134', '98136', '98144', '98146', \
    '98148', '98154', '98155', '98158', '98164', '98166', '98168', '98174', '98177', \
    '98178', '98188', '98195', '98198', '98199', '98224', '98288', '98323', '98354', '98391']

In [43]:
Seattle_School_District_zipcodes = [98101, 98102, 98103, 98104, 98105, 98106, 98107, 98108,\
                                    98109, 98112, 98115, 98116, 98117, 98118, 98119, 98121,\
                                    98122, 98125, 98126, 98133, 98134, 98136, 98144, 98146,\
                                    98154, 98164, 98168, 98174, 98177, 98178, 98195, 98199]  

Lake_Washington_School_District_zipcodes = [98004, 98005, 98007, 98008, 98011, 98033, 98034,\
                                            98039, 98052, 98053, 98072, 98074, 98075, 98077]

Kent_School_District_zipcodes = [98001, 98002, 98010, 98030, 98031, 98032, 98038, 98042, 98055,\
                                 98058, 98092, 98188, 98198]

Federal_Way_School_District_zipcodes = [98001, 98003, 98023, 98032, 98198, 98354]

Highline_School_District_zipcodes = [98032, 98106, 98108, 98126, 98146, 98148, 98158, 98166, 98168,\
                                     98188, 98198]

Northshore_School_District_zipcodes = [98011, 98012, 98021, 98028, 98034, 98036, 98052, 98072, 98077,\
                                       98155, 98296]

Renton_School_District_zipcodes = [98006, 98031, 98032, 98055, 98056, 98057, 98058, 98059, 98168, 98178, 98188]

Bellevue_School_District_zipcodes = [98004, 98005, 98006, 98007, 98008, 98027, 98033, 98039, 98052, 98056, 98059]

Auburn_School_District_zipcodes = [98001, 98002, 98010, 98022, 98030, 98032, 98042, 98047, 98092, 98391]

Issaquah_School_District_zipcodes = [98006, 98008, 98024, 98027, 98029, 98038, 98050, 98056, 98058, 98059,\
                                     98065, 98074, 98075]

Shoreline_School_District_zipcodes = [98043, 98133, 98155, 98177]

Snoqualmie_Valley_School_District_zipcodes = [98014, 98024, 98027, 98038, 98045, 98053, 98065, 98068, 98074,\
                                              98075, 98224]

Tahoma_School_District_zipcodes = [98010, 98027, 98038, 98042, 98045, 98051, 98058, 98059, 98065]

Enumclaw_School_District_zipcodes = [98010, 98022, 98038, 98045, 98051, 98092, 98323, 98391]

Tukwila_School_District_zipcodes = [98168, 98178, 98188]

Riverview_School_District_zipcodes = [98014, 98019, 98024, 98053, 98065, 98077, 98224]

Mercer_Island_School_District_zipcodes = [98004, 98006, 98040]

Vashon_Island_School_District_zipcodes = [98070]

Skykomish_School_District_zipcodes = [98045, 98068, 98224, 98288]

Fife_School_District_zipcodes = [98001, 98003, 98354, 98371, 98372, 98421, 98422, 98424]

In [44]:
#STRING FORMAT
King_County_School_District_Zipcodes = {

'Seattle School District No. 1' : ['98101', '98102', '98103', '98104', '98105', '98106', '98107', '98108',\
                                    '98109', '98112', '98115', '98116', '98117', '98118', '98119', '98121',\
                                    '98122', '98125', '98126', '98133', '98134', '98136', '98144', '98146',\
                                    '98154', '98164', '98168', '98174', '98177', '98178', '98195', '98199'],

'Lake Washington School District' : ['98004', '98005', '98007', '98008', '98011', '98033', '98034',\
                                            '98039', '98052', '98053', '98072', '98074', '98075', '98077'],

'Kent School District' : ['98001', '98002', '98010', '98030', '98031', '98032', '98038', '98042', '98055',\
                                 '98058', '98092', '98188', '98198'],

'Federal Way School District' : ['98001', '98003', '98023', '98032', '98198', '98354'],

'Highline School District': ['98032', '98106', '98108', '98126', '98146', '98148', '98158', '98166',\
                                     '98168', '98188', '98198'],

'Northshore School District' : ['98011', '98012', '98021', '98028', '98034', '98036', '98052', '98072',\
                                       '98077', '98155', '98296'],

'Renton School District' : ['98006', '98031', '98032', '98055', '98056', '98057', '98058', '98059',\
                                   '98168', '98178', '98188'],

'Bellevue School District' : ['98004', '98005', '98006', '98007', '98008', '98027', '98033', '98039',\
                                     '98052', '98056', '98059'],

'Auburn School District' : ['98001', '98002', '98010', '98022', '98030', '98032', '98042', '98047',\
                                   '98092', '98391'],

'Issaquah School District': ['98006', '98008', '98024', '98027', '98029', '98038', '98050', '98056',\
                                     '98058', '98059', '98065', '98074', '98075'],

'Shoreline School District' : ['98043', '98133', '98155', '98177'],

'Snoqualmie Valley School District' : ['98014', '98024', '98027', '98038', '98045', '98053', '98065',\
                                              '98068', '98074', '98075', '98224'],

'Tahoma School District' : ['98010', '98027', '98038', '98042', '98045', '98051', '98058',\
                                   '98059', '98065'],

'Enumclaw School District': ['98010', '98022', '98038', '98045', '98051', '98092', '98323', '98391'],

'Tukwila School District' : ['98168', '98178', '98188'],

'Riverview School District' : ['98014', '98019', '98024', '98053', '98065', '98077', '98224'],

'Mercer Island School District' : ['98004', '98006', '98040'],

'Vashon Island School District' : ['98070'],

'Skykomish School District' : ['98045', '98068', '98224', '98288'],

'Fife School District' : ['98001', '98003', '98354', '98371', '98372', '98421', '98422', '98424']
    
}

In [45]:
King_County_School_District_Zipcodes

{'Seattle School District No. 1': ['98101',
  '98102',
  '98103',
  '98104',
  '98105',
  '98106',
  '98107',
  '98108',
  '98109',
  '98112',
  '98115',
  '98116',
  '98117',
  '98118',
  '98119',
  '98121',
  '98122',
  '98125',
  '98126',
  '98133',
  '98134',
  '98136',
  '98144',
  '98146',
  '98154',
  '98164',
  '98168',
  '98174',
  '98177',
  '98178',
  '98195',
  '98199'],
 'Lake Washington School District': ['98004',
  '98005',
  '98007',
  '98008',
  '98011',
  '98033',
  '98034',
  '98039',
  '98052',
  '98053',
  '98072',
  '98074',
  '98075',
  '98077'],
 'Kent School District': ['98001',
  '98002',
  '98010',
  '98030',
  '98031',
  '98032',
  '98038',
  '98042',
  '98055',
  '98058',
  '98092',
  '98188',
  '98198'],
 'Federal Way School District': ['98001',
  '98003',
  '98023',
  '98032',
  '98198',
  '98354'],
 'Highline School District': ['98032',
  '98106',
  '98108',
  '98126',
  '98146',
  '98148',
  '98158',
  '98166',
  '98168',
  '98188',
  '98198'],
 'Northshore School District': ['98011',
  '98012',
  '98021',
  '98028',
  '98034',
  '98036',
  '98052',
  '98072',
  '98077',
  '98155',
  '98296'],
 'Renton School District': ['98006',
  '98031',
  '98032',
  '98055',
  '98056',
  '98057',
  '98058',
  '98059',
  '98168',
  '98178',
  '98188'],
 'Bellevue School District': ['98004',
  '98005',
  '98006',
  '98007',
  '98008',
  '98027',
  '98033',
  '98039',
  '98052',
  '98056',
  '98059'],
 'Auburn School District': ['98001',
  '98002',
  '98010',
  '98022',
  '98030',
  '98032',
  '98042',
  '98047',
  '98092',
  '98391'],
 'Issaquah School District': ['98006',
  '98008',
  '98024',
  '98027',
  '98029',
  '98038',
  '98050',
  '98056',
  '98058',
  '98059',
  '98065',
  '98074',
  '98075'],
 'Shoreline School District': ['98043', '98133', '98155', '98177'],
 'Snoqualmie Valley School District': ['98014',
  '98024',
  '98027',
  '98038',
  '98045',
  '98053',
  '98065',
  '98068',
  '98074',
  '98075',
  '98224'],
 'Tahoma School District': ['98010',
  '98027',
  '98038',
  '98042',
  '98045',
  '98051',
  '98058',
  '98059',
  '98065'],
 'Enumclaw School District': ['98010',
  '98022',
  '98038',
  '98045',
  '98051',
  '98092',
  '98323',
  '98391'],
 'Tukwila School District': ['98168', '98178', '98188'],
 'Riverview School District': ['98014',
  '98019',
  '98024',
  '98053',
  '98065',
  '98077',
  '98224'],
 'Mercer Island School District': ['98004', '98006', '98040'],
 'Vashon Island School District': ['98070'],
 'Skykomish School District': ['98045', '98068', '98224', '98288'],
 'Fife School District': ['98001',
  '98003',
  '98354',
  '98371',
  '98372',
  '98421',
  '98422',
  '98424']}

Not included in School Districts:<br>
- Rainier_Prep_Charter_School_District_zipcodes  
- Summit_Public_School_Atlas_zipcodes  
- Rainier_Valley_Leadership_Academy_zipcodes  
- Muckleshoot_Indian_Tribe_zipcodes  
- Impact_Puget_Sound _Elementary_zipcodes  
- Summit_Public_School_Sierra_zipcodes  
- Renton_Technical_College_zipcodes  
- Lake_Washington_Institute_of_Technology_zipcodes